
CONFIG VCCAUX = "3.3" ;

NET "clkin"           LOC = "J16"  | IOSTANDARD = LVTTL;
NET "clkin" TNM_NET = "clkin" ;
TIMESPEC "TS_clkin" = PERIOD "clkin" 20000 ps INPUT_JITTER 200 ps;

# FTDI FT2232-chB used as USB UART
NET "usb_rxd"        LOC = "B15"  | IOSTANDARD = LVTTL | PULLUP;
NET "usb_txd"        LOC = "B16"  | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

# audio
NET "audio_l"        LOC = "K15"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "audio_r"        LOC = "K16"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

# sd-card SPI interface
NET "sd_miso"        LOC = "H15"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "sd_cs"          LOC = "E13"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "sd_mosi"        LOC = "F14"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "sd_sck"         LOC = "F13"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 ;

NET "LED5"           LOC = "H13"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

# switch
NET "switch"         LOC = "K14"  | IOSTANDARD = LVTTL | PULLDOWN ;

# Wings
NET WING_A[15]       LOC = "T15"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[14]       LOC = "M10"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[13]       LOC = "N8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[12]       LOC = "T9"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[11]       LOC = "T8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[10]       LOC = "M7"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[9]        LOC = "N6"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[8]        LOC = "P5"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[7]        LOC = "R14"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[6]        LOC = "L10"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[5]        LOC = "M9"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[4]        LOC = "R9"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[3]        LOC = "P8"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[2]        LOC = "P7"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[1]        LOC = "M6"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[0]        LOC = "N5"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
