CONFIG VCCAUX = "3.3" ;

# ==== Clock inputs (CLK) ====
NET "CLK_50MHZ" LOC = "J16"  | IOSTANDARD = LVCMOS33;
NET "CLK_50MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

# ==== Pushbuttons (BTN) ====
NET "SWITCH"        LOC = K14 | IOSTANDARD = LVCMOS33 | PULLDOWN; #SWITCH

# FTDI FT2232-chB used as USB UART
NET "txd"        LOC = "B16"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "rxd"        LOC = "B15"  | IOSTANDARD = LVCMOS33 | PULLUP;

# ==== Audio ====
NET "AUDIO_LEFT"  LOC = "K15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6;
NET "AUDIO_RIGHT" LOC = "K16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6;

# === VGA port ===
NET "VGA_HSYNC"    LOC = D11 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"    LOC = E11 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<0>"   LOC = B10 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<1>"   LOC = A10 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<2>"   LOC = C11 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<0>" LOC = A11 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<1>" LOC = B12 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<2>" LOC = A12 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<0>"  LOC = C13 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<1>"  LOC = A13 | IOSTANDARD = LVCMOS33;

# ==== sd-card SPI interface ====
NET "SD_MISO"   LOC = "H15"   | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "SD_CS"     LOC = "E13"   | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "SD_MOSI"   LOC = "F14"   | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "SD_SCK"    LOC = "F13"   | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 ;

# ==== LEDs ====
NET "LED1"      LOC = "N16"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED2"      LOC = "N14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED3"      LOC = "M14"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED4"      LOC = "M13"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED5"      LOC = "H13"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

# ==== Wings ====
NET WING_A[15]  LOC = "T15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[14]  LOC = "M10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[13]  LOC = "N8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[12]  LOC = "T9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[11]  LOC = "T8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[10]  LOC = "M7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[9]   LOC = "N6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[8]   LOC = "P5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[7]   LOC = "R14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[6]   LOC = "L10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[5]   LOC = "M9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[4]   LOC = "R9"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[3]   LOC = "P8"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[2]   LOC = "P7"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[1]   LOC = "M6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;
NET WING_A[0]   LOC = "N5"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLDOWN ;

NET SPI_FLASH_HOLDn  LOC = "P12"  |  IOSTANDARD = LVCMOS33;
NET SPI_FLASH_MISO   LOC = "P10"  |  IOSTANDARD = LVCMOS33;
NET SPI_FLASH_MOSI   LOC = "T10"  |  IOSTANDARD = LVCMOS33;
NET SPI_FLASH_SCLK   LOC = "R11"  |  IOSTANDARD = LVCMOS33;
NET SPI_FLASH_SS     LOC = "T3"   |  IOSTANDARD = LVCMOS33;
NET SPI_FLASH_Wn     LOC = "N12"  |  IOSTANDARD = LVCMOS33;