CONFIG VCCAUX = "3.3" ;

# ==== Clock inputs (CLK) ====
NET "CLK_50MHZ" LOC = "J16"  | IOSTANDARD = LVCMOS33;
NET "CLK_50MHZ" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

# ==== Pushbuttons (BTN) ====
NET "SWITCH"        LOC = K14 | IOSTANDARD = LVCMOS33 | PULLDOWN; #SWITCH
NET "CONSOLE_RESET" LOC = P7  | IOSTANDARD = LVCMOS33 | PULLDOWN; #IO3P
NET "RESET"         LOC = M7  | IOSTANDARD = LVCMOS33 | PULLDOWN; #IO3N

# ==== Joypads ====
NET "NES_JOYPAD_CLK"   LOC = N5 | IOSTANDARD = LVCMOS33;          #IO1P
NET "NES_JOYPAD_LATCH" LOC = P5 | IOSTANDARD = LVCMOS33;          #IO1N
NET "NES_JOYPAD_DATA1" LOC = M6 | IOSTANDARD = LVCMOS33 | PULLUP; #IO2P
NET "NES_JOYPAD_DATA2" LOC = N6 | IOSTANDARD = LVCMOS33 | PULLUP; #IO2N

# ==== Audio ====
NET "AUDIO_LEFT"  LOC = "K15" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6;
NET "AUDIO_RIGHT" LOC = "K16" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 6;

# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = D11 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"    LOC = E11 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<0>"   LOC = B10 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<1>"   LOC = A10 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<2>"   LOC = C11 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<0>" LOC = A11 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<1>" LOC = B12 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<2>" LOC = A12 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<0>"  LOC = C13 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<1>"  LOC = A13 | IOSTANDARD = LVCMOS33;

# ==== sd-card SPI interface ====
NET "SD_MISO"   LOC = "H15"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "SD_CS"     LOC = "E13"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "SD_MOSI"   LOC = "F14"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 | PULLUP ;
NET "SD_SCK"    LOC = "F13"  | IOSTANDARD = SDIO | SLEW = FAST | DRIVE = 8 ;

# ==== LEDs ====
NET "SD_LED"    LOC = "H13"  | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
